/* Default CSS */

body { 
	font-family: 'Droid Sans', sans-serif;
	background-color:#333333;
}

 /**********HEADER**********/

#logo {
	background-color:#333333;
}

.navbar-header {
	margin:5px;
}

.nav-pills li a {
	font-size:22px;
	margin-top:20px;
	padding-top:10px;
	text-align:center;
	height:50px;
	width: 150px;
	background-color:#777;
	color:#000;
	border-style:solid;
	border-width:1px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #a35b02;
  color:#000;
}	

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus  {
	color:#000;
	background-color:#a35b02;
}

.nav-pills form {
	margin-top:20px;
	padding-top:10px;
}

/**********Body**********/

#newsbody, #itemsbody, #championsbody {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding:1px 15px;
	max-width:700px;
	font-size:1.25em;

	background-color:#bdbbbd;
	-moz-box-shadow:inset -4px -4px 0px 0px #a35b02;
	-webkit-box-shadow:inset -4px -4px 0px 0px #a35b02;
	box-shadow:inset -4px -4px 0px 0px #a35b02;
	border-radius:7px;
}

.container {
	background-color: #bdbbbd;
	border-radius:20px;	
	margin-top:0%;
	padding: 1% 3%;
}

.btn-primary:link,
.btn-primary:visited {
  color: #000;
  background-color: #777;
  border-color: #000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #000;
  background-color: #a35b02;
  border-color: #000;
}

.pagination > li > a,
.pagination > li.disabled > a,
.pagination > li.disabled > a:hover,
.pagination > li.disabled > a:focus  {
  background-color: #777;
  color:#000;
  border-color:#000;
}

.pagination > li > a:hover,
.pagination > li > a:focus{
  text-decoration: none;
  background-color: #a35b02;
  color:#000;
border-color:#000; 
}	

.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > a:focus  {
	color:#000000;
	background-color:#a35b02;
	border-color:#000; 
}
.pager > li > a,
.pager > li.disabled > a,
.pager > li.disabled > a:hover,
.pager > li.disabled > a:focus  {
  background-color: #777;
  color:#000;
  border-color:#000;
}

.pager > li > a:hover,
.pager > li > a:focus  {
	color:#000000;
	background-color:#a35b02;
	border-color:#000; 
}

.table-bordered {
	border-color: #000;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	padding:3px;
	border-color:#000;
}

/**********Footer**********/

.footer {
	position:relative;
	font-size:0.75em;
	clear:both;
	padding-top:3%;
	padding-left:20px;
	color:#bdbbbd;
}

.footer div {
	margin-right:50px;
}

#contact {
	max-width:50%;
	float:left;
	margin-right:20px;
}

#contact a:active, a:visited, a:link {
	text-decoration:none;
	color:#bdbbbd;
}

#contact a:hover {	
	text-decoration:underline;
	color:#bdbbbd;
}


#copyright {	
	color:#bdbbbd;
	float:right;
	width:300px;
}